.image {
  width: 100%;
  height: 100%;
}

.fieldTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #014384;
  margin-left: 5px;
}

.infoCard {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.detailValue {
  border-bottom:1px solid #014384  ;
  color: #014384;
  margin-left: 10px;
}

.detailIcon {
  color: #014384;
}

.block {
  display: block;
  text-align: center;
}
.iconWrapper {
  border-radius: 50%;
  padding: 5px;
  background: #85c6ff;
  display: inline;
  margin-right: 10px;
}