.image {
  width: -webkit-fill-available;
}

.fieldTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #014384;
  margin-left: 5px;
}

.info {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 5px 10px;
  color: #454444;
}

.infoTitle {
  font-weight: bold;
  font-size: 2rem;
  color: #052f56;
}

.infoCard {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.detailValue {
  border-bottom:1px solid #014384  ;
  color: #014384;
  margin-left: 10px;
}

.detailIcon {
  color: #014384;
}

.block {
  display: block;
  text-align: center;
}
.iconWrapper {
  border-radius: 50%;
  padding: 5px;
  background: #85c6ff;
  display: inline;
  margin-right: 10px;
}

.details {
  display: inline-flex;
  align-items: center;
  align-content: center;
  background: #cadded;
  color: #254b64;
  width: fit-content;
  padding: 5px 10px;
  border: 1px solid #254b64;
  border-radius: 5px;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}